/ Moved to form_builder_helpers.rb

%strong Files:
#files

:javascript
  (function() {
    jQuery(function() {
      return window.uploader = new AnacondaUploader({
        limits: {
          audio: 1,
          video: 1,
          resource: 1,
          image: 1
        },
        element_id: "#{option[:element_id]}"
        allowed_types: [],
        upload_details_container: "files",
        upload_button_id: "upload",
        upload_complete_post_url: "#{options[:form_options][:post_url]}",
        upload_complete_form_to_fill: "#{options[:form_options][:form_el]}",
        upload_automatically: "#{options[:form_options][:auto_upload]}",
        resource: "#{resource.class.to_s.underscore}",
        attribute: "#{options[:as]}"
      });
    });

  }).call(this);